:root {
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
}

body {
    font-family: "Avenir", sans-serif;
    color: #9C69E2;
}

@media screen and (max-width: 1024px){
    body {
        text-align: center;
    }
}

@media screen and (max-width: 1024px){
    :root {
        font-size: 12 px;
    }
}


a {
    text-decoration: none;
}

li {
    display: block;
}

button {
    border: 0;
}

.global__container {
    margin: 0 auto;
    max-width: 1117px;
}

@media screen and (max-width: 1024px){
    .global__container {
        padding: 0 10px;
    }
}


.container {
    margin: 0 auto;
    max-width: 1117px;
    font-weight: 800;
    font-size: 18px;
    
    
}

@media screen and (max-width: 1024px){
    .container {
        padding: 0 1px;
    }
}

.title {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #212353;

}

.paragraph {
    width: 100%;
    max-width: 380px;
    
    margin-top: 40px;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}


@media screen and (min-width: 1260px){
    .container {
        max-width: 1117px;
    }
}

@media screen and (min-width: 1260px){
    .global__container {
        max-width: 1217px;
    }
}