.hero {
    background: url("/images/image1\ 1.svg") no-repeat right 30px bottom;
}

.hero__inner {
    width: 100%;
    max-width: 645px;
    padding-top: 130px;
    padding-bottom: 80px;
}

.hero-title {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    display: flex;
    align-items: center;
    color: #212353;
}

._learn-more1 {
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 160%;
    color: #fff;
    background-color: rgba(156, 105, 226, 1);
    width: 170px;
    height: 60px;
    border-radius: 50px;

}


@media screen and (max-width: 768px) {
    .hero__inner {
        margin: 0 auto;
        text-align: center;
    }

    .container-hero {
        padding-top: 50px;
    }

    .hero {
        background: none;
    }

    ._learn-more1 {
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0;
    }

    .hero-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 130%;
    }

}