.pink {
    margin: 0 auto;
    max-width: 1110px;
}

.pink-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1117px;
    padding: 50px;
    height: 560px;
    font-weight: 800;
    font-size: 18px;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}

@media screen and (max-width: 768px) {
    .pink {
        margin-top: 40px;
    }
}

.pink-inner {
    width: 100%;
    max-width: 475px;
    padding-top: 80px;
    padding-left: 80px;
}

@media screen and (max-width: 768px) {
    .pink-container {
        flex-direction: column;
        height: auto;
        padding: 0px;
        background: none;
    }

    .pink-container img {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        z-index: 2;
    }

    .pink-inner {
        padding: 40px 5px;
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
        background-color: rgba(240, 99, 184, 0.15);
        border-radius: 50px;
    }
}

@media screen and (min-width: 1260px){
    .pink-container {
        max-width: 1117px;
    }
}